@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-bg-primary: #f5f5f5;
  --color-bg-seconder: #eaeaea;
  --color-bg-light-seconder: #ffffff;

  --color-accent: #036ce5;
  --color-success: #77dd77;
  --color-warning: #ffd700;
  --color-danger: #ffa07a;
  --color-black: #333;
  --container-width-lg: 84%;
  --container-width-md: 90%;
  --container-width-sm: 96%;

  --font-size-lg: 1.2rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--color-bg-primary);
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: var(--color-black);
  cursor: default;

}
section {
  margin-bottom: 3rem;
}

h1{
  font-size: 3.3rem;
}
h2{
  font-size: 2.4rem;
}

section h2 {
  text-align: center;
  font-weight: 500;
}
a {
  color: var(--color-black);
}
p {
  font-size: var(--font-size-lg);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border-radius: 0.6rem;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  background: var(--color-bg-light-seconder);
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
}

.btn:hover {
  border-color: var(--color-black);
  background: var(--color-bg-primary);
  opacity: 0.9;
  color: var(--color-black);
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-bg-light-seconder);
}

/* ============================== NAVBAR SECTION START ===============================*/
nav {
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.6rem;
  background: var(--color-bg-primary);
}
nav button {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: var(--color-bg-seconder);
  border-radius: 1.9rem;
  padding: 0.9rem 2rem;
}

.nav-container .logo a {
  display: flex;
  color: var(--color-accent);
  align-items: center;
}

.nav-container .logo a i {
  font-size: 2.1rem;
}

.nav-container .logo a h3 {
  color: var(--color-black);
  margin-left: 0.3rem;
  font-size: 1.8rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 6%;
}

.navbar a{
  color: var(--color-bg-primary);
}

/* ============================== HEADER SECTION START ===============================*/

#home {
  position: relative;
  top: 6rem;
  min-height: 100vh;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9%;
  padding: 3rem;
}

.header-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.header-right .price{
  display: flex;
  align-items: end;
}

.header-right .price h3{
  font-size: 2.4rem;
}

.header-right .price small{
  color: var(--color-accent);
  margin-bottom: .6rem;

}

.header-right .btn {
  margin-top: 1rem;
}



/* ============================== ABOUT SECTION START ===============================*/
#about h2 {
  margin-bottom: 3rem;
}
#about h2 b {
  color: var(--color-accent);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 6%;
}

.about-container article i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--color-accent);
}

/* ============================== SERVICE SECTION START ===============================*/
#services {
  margin-top: 9rem;
 
}

.pagination-box{
  width: 180px;
  padding: .3rem;
margin: 0 auto;
margin-bottom: 2rem;
border-radius: .9rem;
background: var(--color-bg-seconder);

}


.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-pagination .pagination-item {
  cursor: pointer;
  margin: 0 10px;
  font-size: 18px;
}

.custom-pagination .pagination-item.active {
  font-weight: bold;
}

#services .swiper-pagination-bullets span{
width: 6rem;
height: 2.3rem;
 font-weight: 600;
 color: var(--color-black);
background: var(--color-bg-seconder);
 display: flex;
 border-radius: .9rem;
 justify-content: center;
 align-items: center;
 opacity: 1;
 padding: .3rem;
}



#services .swiper-pagination-bullets .swiper-pagination-bullet-active{
  background: var(--color-bg-primary);
  border: 1px solid var(--color-accent);
 color: var(--color-accent);

}

.service-slider {
  padding: 0 6rem;
}

.service-slider .service-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "item1 item2"
    "item3 item3";
  gap: 5%;
}

.service-card .container-left {
  background: var(--color-bg-seconder);
  padding: 1rem;
  border-radius: 0.6rem;
  grid-area: item1;
}
.service-card .container-left h3 {
  margin-bottom: 0.6rem;
}

.service-card .container-left .products-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service-card .container-left .products-content article {
  margin-bottom: 0.9rem;
}



.service-card .container-left .products-content article h4 i {
  margin-right: 0.6rem;
  color: var(--color-accent);

}

.service-card .container-left .products-content article small {
  opacity: .8;
  display: none;
  font-size: .9rem;
  margin-left: 1.5rem;
  transition: opacity 5s ease;

}

.service-card .container-left .products-content article.open{
  transition: all 4s ease;
}

.service-card .container-left .products-content article.open small {
  display: flex;
}

.service-card .container-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.service-card .container-right article {
  border: 1px solid var(--color-bg-seconder);
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  border-radius: 0.6rem;
  position: relative;

}

.service-card .container-right article:last-child {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.service-card .container-right article h3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-black);
}
.service-card .container-right article p {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  font-weight: 600;
  opacity: 0.6;
}
.service-card .container-right article .price {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-black);
}

.service-card .container-right article .price span {
  font-size: 1rem;
}
.service-card .container-right article small:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background: var(--color-accent);
  color: var(--color-bg-primary);
  border-radius: .6rem .6rem 0 0;
}
.service-card .container-right article small:first-child i {
  margin-right: 0.3rem;
}

.service-card .container-right article small {
  text-align: center;
  opacity: 0.6;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.service-card .container-right article small:last-child {
  margin-top: 1rem;
  font-size: 0.6rem;
}

.service-card .container-bottom {
  grid-area: item3;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.service-card .container-bottom table {
  border-collapse: collapse;
  width: 100%;
}




.service-card .container-bottom table tr {
  background: var(--color-bg-seconder);

}
.service-card .container-bottom table tr:nth-child(2) {
  background: var(--color-bg-primary);
}

.service-card .container-bottom table tr i {
  margin-right: 0.3rem;
  color: var(--color-accent);
  text-align: center;
}

.service-card .container-bottom table tr td {
  padding: 1rem;
 

}

.service-card .table-card td span{
  align-items: center;
  display: flex;

}

.service-card .container-bottom table tr td p {
  max-width: 76%;
  display: none;
  margin-left: 1.5rem;
}

.service-card .container-bottom table tr td p{
  font-size: .9rem;
}

.service-card .container-bottom table tr.open p {
  display: flex;

}

.service-card .container-bottom small {
  width: 100%;
  text-align: right;

}

.service-slider .services-info b {
  text-decoration: underline;
  color: var(--color-accent);
}

.service-slider .services-info{
  text-align: right;
  display: block;
  width: 100%;
  opacity: 0.8;
}




/* attribute section */
#attribute{
  margin-bottom: 6rem;
}
#attribute h2{
  margin-top: 6rem;
  margin-bottom: 0;
}

#attribute p{
  text-align: center;
  margin-bottom: 3rem;
}
#attribute  .attribute-pagination-box{
  background: var(--color-bg-seconder);
width: max-content;
margin: 0 auto;
padding: .6rem 1.2rem;
border-radius: 2rem;
overflow: hidden;
}


#attribute .swiper-pagination-bullet{
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: .6rem;
  padding: .3rem;
background: transparent;
opacity: .9;

}

#attribute .swiper-pagination-bullet-active{
  background: transparent;
  font-weight: 600;
  position: relative;
}

#attribute .swiper-pagination-bullet-active::before{
  content: "";
  width: 2rem;
  height: 2rem;
  background: var(--color-accent);
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  right: 50%;
  bottom: -110%;
  transform: rotate(45deg);

}


#attribute .swiper-pagination-bullet-active b{
color: var(--color-accent);
}


.attribute-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  align-items: center;
  padding: 0 6rem;
}

.attribute-card h3{
  font-size: 1.5rem;
  margin-bottom: .6rem;
}

.attribute-card .attribute-right p,
.attribute-card .left2 p{
  text-align: left !important;
  line-height: 1.2;
  opacity: .6;
}


.attribute-left, .attribute-card .right2{
  padding: 6rem;
}

.attribute-left img ,
.attribute-card .right2 img {
  background: var(--color-accent);
  border-radius: 1.9rem;
  padding: 3rem;
}

.attribute-right h3 span
,.attribute-card .left2 h3 span {
  color: var(--color-accent);
}


.attribute-right p  span,
.attribute-card .left2 p span {
color: var(--color-accent);
}


.attribute-container{
  background: var(--color-bg-seconder);
  border-radius: .9rem;
  padding: 1rem;

}
.attribute-container h2{
margin-bottom: 3rem;
}


.attribute-icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9%;
  margin:6rem;
}

.attribute-icon {
  text-align: center;
  padding: 3rem;
}

.attribute-icon i{
  font-size: 3.3rem;
  margin-bottom: .6rem;
}








.attribute-right p  span{
color: var(--color-accent);
}

/* faqs start */

#faqs p{
  text-align: center;
  margin-bottom: 3rem;
}

.faqs-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;
  gap: .69rem;
}

.faqs-container .faq {
  border: 1px solid var(--color-accent);
  border-radius: .69rem;
  width: 66vw;
  padding: 1rem;

}

.faqs-container .faq div{
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.faqs-container .faq div h3{
  font-weight: 500;
}

.faqs-container .faq div:hover h3{
text-decoration: underline;
}

.faqs-container .faq div h3.underline{
  text-decoration: underline;
}



.faqs-container small{
  max-height: 0;
  display: none;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;

}

.faqs-container .faq.open small{
  display: block;
  transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;


}
